body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap{
    text-align: center;
    background: steelblue;
    padding: 10px;
}

.wrap h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#plus {
    color: green;
}

#minus {
    color: red;
} 
#reset{
    color: rgb(35, 35, 139);
}

